{% extends "base.html.twig" %}


{% block title %}Agence{% endblock %}
{% block body %}
    <div class="container text-center">
        <h1>Home page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis corporis rem facilis
        perferendis architecto id eos sit esse libero officia quidem quia unde quos eum fugit
        accusamus, enim ex expedita!</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id:property.id, slug: property.getSlug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{property.postal_code}})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{property.FormatedPrice}} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
